/* body {
    background-color: rgb(63, 17, 227);
} */

#owner {
    color: red;
    font-family: 'Bitter', serif;
}

body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Ariel, sana-serif;
    /* you can shoose other fonts fo */
}

h1 {
    font-size: 4rem;
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: "Sacramentor"
}

h2 {
    color: #66BFBF;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    /* This will create space inbetween the Hello and the <p> */
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999E;
}

p {
    line-height: 2;
    /*Targeting all the paragraphs in the project and changing all their line heights to double what they started at  */
}

hr {
    border: dotted #EAF6F6 6px;
    /*This is going to style the Dotted line that crosses the page inbetween sections */
    border-bottom: none;
    /*This will take the bottom border and made it one single line */
    width: 4%;
    margin: 100px auto;
    /* this will create space above and below the border line and it will be positioned in the middle :auto:   */
}

a {
    color: #11999E;
    /* Changing the text color for all the Anchor tags <a> */
    font-family: "Montserrat", sans-serif;
    /* Changing the font family to what everything else is on the page.  */
    margin: 10px 20px;
    /* Adding margin inbetween the <a> tags  */
    text-decoration: none;
    /*  Will take the underline default off */
}

a:hover {
    /*  this is a suedo class  which will highlight the words when you hover over them */
    color: #EAF6F6;
}

.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #E4F9F5;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    /*The Footer note */
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.pro {
    text-decoration: underline;
    font-size: 2.5rem;
}

.intro {
    width: 30%;
    margin: auto;
    /* This will move the Into Text into the middle */
}

.contact-me {
    width: 40%;
    /* this will bring the paragraph together and not take up a huge width */
    margin: 40px auto 60px;
    /* This will create space from the top and bottom of the contact-me (wording)   */
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.mountain {
    padding-top: 100px;
}

.skill-row {
    width: 50%;
    /*When the width is at 100% the div would be in the center. Now that it's only 50% width its pushed to the side only taking up 50% */
    margin: 100px auto 100px auto;
    /* Adding a margin will move this div into the middle. 100px (top) auto (left & right) & 100px bottom */
    text-align: left;
    /* This will move the text to the left of the picture this will override the (text-align: center;) */
    line-height: 2;
    /* This will make the text much easier to read having more space inbetween them.  */
}

.fullstack {
    width: 28%;
    border-radius: 48%;
    float: left;
    /*Floating the image to the left of the text */
    margin-right: 30px;
    /*This will give a small amount of space between the picture and the text */
    height: 260px;
}

.natureleaf {
    width: 30%;
    border-radius: 48%;
    float: right;
    /*Floating the image to the right of the text */
    margin-left: 30px;
    /*This will give a small amount of space between the picture and the text */
    height: 260px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    font-family: "Montserrat", sans-serif;
    /*Changed the font to the font that we have been using for the rest of the page. */
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}